<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-12 col">
      <article class="card-body">
        <h5 class="card-title">
          {{ post.title }}
        </h5>
        <h8 class="card-title">
            <a class="text-decoration-none text-dark" href="{% url 'user_posts_url' id=post.author.id %}">
              {{ post.author.username }}
            </a>
        </h8>
        {% if post.image %}
        <div class="col-md-12 mt-1 mb-1">
          <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}" style="max-height: 400px;">
        </div>
        {% endif %}
        <div class="">
          <p class="card-text">
            {{ post.content | safe }}
          </p>
        </div>
        <p class="card-text">
          <small class="text-muted">
            {{ post.created_date | timesince }} önce eklendi <br>
            {% if post.is_updated %}
              {{ post.modified_date | timesince }} önce düzenlendi
            {% endif %}
          </small>
        </p>
        {% if request.user == post.author %}
          <p>
            <a class="btn btn-secondary btn-sm" href="{% url 'update_post_url' slug=post.slug%}">
              <i class="bi bi-pencil-square"></i> Düzenle
            </a>
            <a class="btn btn-danger btn-sm" href="{% url 'delete_post_url' slug=post.slug %}">
              <i class="bi bi-trash3"></i> Sil &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </a>
          </p>
        {% endif %}
      </article>
    </div>
  </div>
</div>
