{% load category_tags %}
{% category_tags as categories %}

<div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body">
        <div class="row">
          <div class="hstack gap-1 flex-wrap">
            {% for category in categories  %}
                <a class="btn btn-outline-primary btn-sm" href="{% url 'category_url' slug=category.slug %}" role="button"> {{ category.title }} </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
